<h6 class="mb-3 p-3 bg-info bg-opacity-10 border border-primary border-start-0 rounded-end">Detail Mahasiswa</h6>
<% if (!mahasiswa) { %>
    <div class="alert alert-danger fw-bold" role="alert">
        Data mahasiswa tidak ada. <br> <a href="/mahasiswa" class="alert-link fw-normal">&laquo; kembali ke daftar mahasiswa</a>
    </div>
<% } else { %>
<div class="card" style="width: 30rem;">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <% if (!image) { %>
                    <img src="/img/profile-icon.jpg" class="img-fluid img-thumbnail rounded float-start">
                <% } else { %>
                    <img src="data:image/png;base64,<%=image.data.toString('base64')%>" class="img-fluid img-thumbnail rounded float-start">
                <% } %>
            </div>
            <div class="col-md-8">
                <h5 class="card-title"><%= mahasiswa.nama %></h5>
                <h6 class="card-subtitle mb-2 text-body-secondary"><%= mahasiswa.nim %></h6>
                <p class="card-text"><%= mahasiswa.jurusan %></p>
                <p class="card-text">Semester: <%= mahasiswa.semester %></p>
                <p class="card-text"><%= mahasiswa.noHP %></p>
                <p class="card-text"><%= mahasiswa.email %></p>
                <a href="/mahasiswa/edit/<%= mahasiswa.nim %>" class="btn badge roundel-pill bg-info">Ubah</a>
                <form action="/mahasiswa?_method=DELETE" method="POST" class="d-inline">
                    <input type="hidden" name="nim" value="<%= mahasiswa.nim %>">
                    <button type="submit" class="btn badge roundel-pill bg-danger" onclick="return confirm('Yakin hapus data mahasiswa ini?')">Hapus</button>
                </form>
                <a href="/mahasiswa" class="card-link d-block mt-3">&laquo; Kembali ke daftar mahasiswa</a>
            </div>
        </div>
    </div>
</div>
<% } %>